<h1>Order #467000<%= @order['id'] %></h1>
<h6>purchased on <%= @order['purchased_on'] %></h6>
<h2>Customer: <%= @order['user']['email'] %></h2>

<ul>
  <% @order['carted_products'].each do |carted_product| %>
    <li>
      <%= carted_product["product"]["name"] %> - 
      <%= carted_product["product"]["price"] %> x 
      <%= carted_product["quantity"] %>
    </li>
  <% end %>
</ul>


<h2>Subtotal: <%= @order['formatted']['subtotal'] %></h2>
<h2>Tax: <%= @order['formatted']['tax'] %></h2>
<h2>Total: <%= @order['formatted']['total'] %></h2>