<ul>
  <li>
    Sort By
  </li>
  <ul>
    <li><a href="/client/products?sort_by=price">Price - Low to High</a></li>
    <li><a href="/client/products?sort_by=price&&sort_order=desc">Price - High to Low</a></li>
    <li><a href="/client/products?sort_by=name">Name - A to Z</a></li>
      <li><a href="/client/products?sort_by=name&&sort_order=desc">Name - Z to A</a></li>
  </ul>
</ul>

<div class="row">
<% @products.each do |product| %>
  <div class="col-md-4">

    <div class="card mb-5" style="width: 18rem;">
        <img class="card-img-top" src="<%= product['image_url'] %>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%= product["name"] %></h5>
          <p class="card-text">Description: <%= product["description"] %></p>
          <p class="card-text">Price: <%= product["formatted"]["price"] %></p>
          <a href="/client/products/<%= product["id"] %> class="btn btn-primary">More Info</a>
        </div>
      </div>

    </div>



  <img src="<%= product["image_url"] %>" alt="" >
  
<% end %>